# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# CMake
!CMakeLists.txt

# Scripts
!sim_poses.cpp

# file_ops
!file_ops.cpp
!file_ops.hpp

# Test Data
!filteredPosesrandom6003fullbalance0.001000tolsafe2.000000*10e-3filter.txt
