# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Scripts
!sim_poses.cpp

# CMake
!CMakeLists.txt

# Test Data
!randomfilteredPoses.txt
!custom2comfilteredPoses.txt
!filteredPosesrandomOptPoses100001.000000*10e-3filter.txt
